@use "tailwindcss";
@use "@angular/material" as mat;
@use "./app/themes.css";

html {
    @include mat.theme(
    (
        color: mat.$azure-palette,
        typography: Roboto,
    )
    );
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-drop-list-dragging:not(.elements-menu) {
    border: 2px solid lightgray !important;
    background-color: lightgray !important;
}


::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.3s; /* ⏱ 0.8 seconds */
  animation-timing-function: ease-in-out;
}



//create three meadia query for tablet and mobile and desktop
@media (max-width: 768px) {
    .main-container {
      flex-direction: column;
      app-main-canvas {
        width: 100%;
        height:700px;
        overflow-y: auto;
        
        overflow-x: hidden;
        .adjust-h{
          height: 100% !important;
        }
      }
      app-form-elements-menu {
        width: 100%;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        .adjust-h{
          height: 100% !important;
        }
      }
      app-field-settings {
        width: 100%;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        .adjust-h{
          height: 100% !important;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .main-container {
      flex-direction: column;
      app-main-canvas {
        width: 100%;
        
        height: 700px;
        overflow-y: auto;
        overflow-x: hidden;
        
        .adjust-h{
          height: 100% !important;
        }
      }
      app-form-elements-menu {
        width: 100%;
        height: 300px;
        overflow-y    : auto;
        overflow-x: hidden;
        .adjust-h{
          height: 100% !important;
        }
      }
      app-field-settings {
        width: 100%;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        .adjust-h{
          height: 100% !important;
        }
      }
    }
  }